html,body{
  margin: 0;
  text-align:center;
}

@font-face {
    font-family: logofont;
    src: url('../style/logofont.otf');
}

@font-face {
    font-family: headingfont;
    src: url('../style/headingfont.otf');
}

logo{
	font-family: logofont;
	font-size:2em;
	display:inline-block;	
	
	border-radius:5px;
	

}



h2{
	font-family:headingfont;
	color:white;
	padding-left:5px;
	padding-right:5px;
}

#step{
	width:80%;
	padding:10px;
	margin:0 auto;
	font-size:15pt;
	/*background: linear-gradient(90deg, #04304b 12%, green 15%);*/
	background-color:rgba(9,108,168,0.45);
	-webkit-box-shadow: 4px 4px 16px 1px rgba(120,120,120,0.9);
    -moz-box-shadow: 4px 4px 16px 1px rgba(120,120,120,0.9);
     box-shadow: 4px 4px 16px 1px rgba(120,120,120,0.9);
	text-align:center;
	

}

#social{
	padding:20px;
	background:#333;
	display:inline-block;
	margin:10px;
	border-radius:5px;
	margin-bottom:20px;
	margin-top:20px;
}

#bg{
	
	/*background-image:url('../images/textbooks.jpg');
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center;*/
	background: url('../images/textbooks.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}
#overlay1{
	
	background:rgba(255, 255, 255, 0.7);
}

#overlay2{
	
	background:rgba(37, 36, 36, 0.7);
}

#search_dummy{
	height:25px;
	padding:5px;
	font-size:15pt;
	width: 50%; 
	min-width:240px;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	border:none;
}

input:focus{
	outline:none;
	-webkit-box-shadow: 4px 4px 24px -3px rgba(122,117,122,1);
    -moz-box-shadow: 4px 4px 24px -3px rgba(122,117,122,1);
    box-shadow: 4px 4px 24px -3px rgba(122,117,122,1);
}

#logo{
	text-align:center;
	
    color:rgb(4,48,75);
	
	padding:10px;
	
	padding-top:10px;
	right:0;
	left:0;
}

@media screen and (min-width: 55.0625em)
{


}

.footer {
  padding-top:20px;
  padding-bottom:30px;
  width: 100%;
  height: 100px;

  text-align: center;
}

.container{
 
  width: 100%;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;

